.header {
  background-image: url(../images/header-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.frame-decoration {
  display: block;
  margin-bottom: -5px;
}

.details-list {
  line-height: 2.2;
}

.download {
  background-image: url(../images/download-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .text-container {
    text-align: center;
    margin-top: 20px;
  }

  .icons-container-item {
    margin-top: 30px;
  }

  .details-heading {
    text-align: center;
  }

  .copy-button,
  .learn-more-button {
    display: flex;
    justify-content: center;
  }

  .details-text-container {
    margin-bottom: 20px;
  }

  .details-2-text-container {
    margin-top: 20px;
  }

  .testimonial {
    margin-bottom: 20px;
  }

  .download-text-form {
    text-align: center;
    margin-top: 20px;
  }
}
